/* Style to center the content containers! */
.mainalign {
    display: flex;
    justify-content: center;
    align-items: space-between;
}

/* -------------------------------------- */
/* -------------------------------------- */

/* Main Navigationbar container */
.top__container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua;  <--- BUGTEST ROW! */
    width: 1111px;
    height: 46px;
    top: 20px;
    flex-basis: 100%;
}
.logo {
    display: flex;
    height: 32px;
    width: 185px;
}
.mtext {
    margin-right: 9px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
/* remove the underscore of the links! */
    color: #2F281E;
}

  /* -------------------------------- */
 /* MAIN BTN DESIGN FOR ALL BUTTONS! */
/* -------------------------------- */
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    border: none;
    color: #FFFFFF;
    background-color: #FF9900;
    border-radius: 4px;
}
.btn--si {
    width: 102px;
    height: 46px;
    margin-left: 20px;
    border-width: 1px;
    font-weight: 600;
    background-color: white;
    color: black;
    border-color: #BCD0E5;
    border-style: solid;
}
.btn--su {
    width: 110px;
    height: 46px;
    margin-left: 14px;
    font-weight: 600;
}
/* BUTTON GET STARTED FROM THE HEADER ROW! */
.btn--getstarted {
    width: 175px;
    height: 53px;
    font-weight: 700;
}
/* BUTTON FROM FEATURE ROW! */
.btn--signupnowc {
    height: 53px;
    width: 175px;
    font-weight: 700;
    border: none;
}
/* BUTTON FROM FOOTER ROW! */
.btn--feetfirst {
    position: absolute;
    height: 39px;
    width: 131px;
    font-weight: 700;
    left: 784px;
    top: 262px;
}

/* END OF BUTTON DESIGN AREA!!!!!!!!! */

  /* ---------- */
 /* HEADER ROW */
/* ---------- */

.header__container {
    display: flex;
    position: absolute;
    direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color: aqua; */
    top: 128px;
    height: 496px;
    width: 1126px;
}
.header__info {
    height: 318px;
    width: 518px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header__headline {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    /* or 123% */
    color: #2F281E;
}
.header__para {
    max-width: 468px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #544837;
}

/* CSS ID STYLES for special stuff only to the Header section! USED ONLY ONCE! */
#triangleright {
    display: flex;
    align-self: center;
    position: relative;
    left: 30px;
    border-top: 10px solid transparent;
    border-left: 15px solid #FF9900;
    border-bottom: 10px solid transparent;
}  

#watchme {
    display: flex;
    position: relative;
    left: 40px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FF9900;
}

    /* ----------------- */
   /*  FEATURE SECTION! */
  /* ----------------- */
.feature__container {
    display: flex;
    position: absolute;
    direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: turquoise; */
    min-height: 453px;
    width: 1095px;
    top: 739px;
}
.feature__headline {
    /* background-color: #2F281E;  <--- BUGG CHECK*/
    display: flex;
    position: relative;
    flex-shrink: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2F281E;
    width: 500px;
    height: 108px;
    overflow: none;
}
.boxes__in__boxes {
    /* background-color: #544837; */
    display: flex;
    justify-content: space-between;
    height: 204px;
    width: 1095px;
}
.feature__box {
    /* background-color: white; */
    display: flex;
    position: relative;
    direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 240px;
    height: 178px;
}
.para__text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* or 162% */
    color: #544837;
    margin: 0;
    flex-basis: 100%;
}

.feature__box__headlines {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */  
    color: #2F281E;
    flex-basis: 100%;
}

/* ------------------- */
/* VALIDATION SECTION */
/* ----------------- */

.validation__container {
    /* background-color: aqua; */
    display: flex;
    position: absolute;
    align-items: flex-start;
    top: 1379px;
    height: 574px;
    width: 1110px;
}
.boxsize__para {
    /* background-color: #2F281E; */
    display: flex;
    flex-wrap: wrap;
    width: 486px;
    height: 531px;
}
.para--bold {
    font-weight: 700;
    line-height: 26px;
    color: #2F281E;
}
.para--heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
}
/* ------------------------- */
/* PRODUCT MANAGERS SECTION */
/* ----------------------  */
.p__m__container {
    /* background-color: aqua; */
    display: flex;
    position: absolute;
    justify-content: space-between;
    height: 520px;
    width: 1110px;
    top: 2072px;
}
.size--diff--cont {
    height: 427px;
    width: 486px;
    justify-content: space-between;
    direction: column;
}
.arrangeok {
    margin-right: 20px;
}
.icons {
    display: flex;
    align-items: flex-start;
    margin-right: 20px;
}
.yebote {
    display: flex;
    direction: column;
    align-items: center;
}
/* -----------------  */
/* MARKETERS SECTION */
/* ---------------- */

.marketers__container {
    /* background-color: aqua; */
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: flex-start;
    height: 574px;
    width: 1110px;
    top: 2697px;
}
.size--diff--mark {
    height: 531px;
    width: 486px;
}

   /* -------------- */
  /*   (FOOTER)     */
 /* FEEEETFIRST!   */
/* -------------- */

.feetfirst__container {
    display: flex;
    position: absolute;
    direction: row;
    /* background-color: aqua; */
    height: 308px;
    width: 1109px;
    top: 3452px;
    border-top: 1px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0; 
    border-style: solid;
    border-color: #BCD0E5;
}
.feet--logo {
    display: flex;
    position: absolute;
    top: 102px;
    left: 0px;
}
.feet__text {
    display: flex;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #544837;
}
.box1 {
    position: absolute;
    flex-basis: 100%;
    max-width: 379px;
    height: 140px;
    left: 324px;
    top: 167px;
}
.box2 {
    position: absolute;
    flex-basis: 100%;
    max-width: 379px;
    height: 140px;
    left: 571px;
    top: 167px;
}
.feet__text__in {
    position: absolute;
    width: 325px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    top: 193px;
    left: 784px;
}